#vm
{
    float: center;
    margin: 30px;
}

#vm-list
{
    width: flex;
    float: inline-start;
    max-width: 800px;
    min-width: 300px;
}

#vm-add
{
    float: inline-end;
    width: flex;
    margin: 20px;
}

li
{
    padding: 5px;
}

.activate
{
    position: relative;
    bottom: 8px;
    font-size: 120%
}