#appli
{
    float: center;
    margin: 30px;
}

#appli-list
{
    width: flex;
    float: inline-start;
    max-width: 800px;
    min-width: 300px;
}

.addAppli
{
    align-self: flex-end;
    width: 60%;
}

li
{
    padding: 5px;
}

.activate
{
    position: relative;
    bottom: 8px;
    font-size: 120%
}